@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

* {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}

b { 
	font-weight: bold;
	color: #7d3fbe;
}

strong {
	font-weight: bold;
	color: #3f9132;
}

.hero {
	margin: 0 auto;
	text-align: center;
}

.super-img {
	border-radius: 40px;
}

.post-title > h1 {
	color: #0c2223;
	font-size: 2.5em;
	margin-bottom: 0;
}

.post-title a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: black;
}

.post-date > h2 {
	font-size: 18px;
}

.post-body > p {
	font-size: 22px;
}

.title {
	font-family: 'Abril Fatface', cursive;
	color: #267347;
	font-size: 5em;
	margin-bottom: 0px;
}

.subtitle {
	margin-top: 0;
	font-weight: 400;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.container {
	margin: 0 auto;
	width: 600px;
	word-spacing: 3px;
}