<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Gaming;History</title>
	<link rel="stylesheet" href="/css/1.css">
	<link rel="stylesheet" href="/css/code.css">
</head>
<body>

<header class="hero">
	<h1 class="title">Gaming;History</h1>
	<h6 class="subtitle">Entertaining Editorials &amp; Original Opinions</h6>
</header>

<div class="container">
	
	{% for post in site.posts %}

	<div class="post">
		<div class="post-title">
			<h1><a href="{{post.url}}">{{post.title}}</a></h1>
		</div>
		<div class="post-date">
			<h2>{{ post.date | date_to_long_string }}</h2>
		</div>
		<div class="post-body">
			{{ post.content }}
		</div>
	</div>

	{% endfor %}

</div>
	
</body>
</html>